services:
  subchain-bridge:
    image: ghcr.io/velas/velas-subchain-bridge
    environment:
      KEYPAIR: {{ keypair }}
      VELAS_RPC_URL: {{ velas_rpc_url }}
      BRIDGE_BIND_ADDRESS: {{ bridge_bind_address }}
      SUBCHAIN_ID: {{ subchain_id }}
    container_name: subchain-bridge
    ports:
      - {{ exposing_port }}
    volumes:
      - bridge-volume:/opt/bridge
    networks:
      - my-network
    restart: always
  explorer:
    image: ghcr.io/velas/ethereum-lite-explorer:latest
    container_name: explorer
    environment:
      APP_BASE_URL: {{ app_base_url }}
      APP_NODE_URL: {{ app_node_url }}
    ports:
      - "80:80"
    networks:
      - my-network
    restart: always
networks:
  my-network:
    driver: bridge
volumes:
  bridge-volume:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./bridge/